@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-5 py-2 border border-transparent rounded-full
    uppercase text-sm tracking-widest text-brand-gray
    transition-all hover:border-brand-light-blue hover:text-brand-light-blue;
  }
}

:root {
  --foreground-rgb: 177, 194, 239;
  --background-rgb: 31, 35, 53;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 177, 194, 239;
    --background-rgb: 31, 35, 53;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  -webkit-font-smoothing: antialiased;
}
